@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lilita+One&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:"Lilita One", sans-serif;
    --fonte3:"Kaushan Script", cursive;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#ffffff;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header>h1 {
    font-family: var(--fonte2);
    font-size: 10vh;
    font-variant: small-caps;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--fonte3);
    font-size: 3.5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2.3em;
}
section.normal{
    background-color: #ffffff;
    color: black;
}
section.imagem{
    background-color: darkslategray;
    color:#ffffff;
}
section.imagem > p{
    background-color: black;
    width: 350px;
}

footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

